.discharge{
    background-color: aquamarine;
    color: blueviolet;
}
.sammy{
    width: 100%;
    height: auto;
    background-color: green;
}
.festus{
    width: 100%;
    height: auto;
    background-color: yellow;
}
.myButton{
    background-color: aquamarine;
    
}

